doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title
        link(rel='stylesheet', type='text/css' href='css/main.css')
        link(rel='shortcut icon', type='image/png', href='img/crocus.png')
    body
    include header.pug 
    


