doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title
        link(rel='stylesheet', type='text/css' href='css/main.css')
        link(rel='shortcut icon', type='image/png', href='img/crocus.png')
    body
        header.header
            nav.nav
                ul
                    li: a(href='#') Flowers
                    li: a(href='#') Order
                    li: a(href='#') Garden
                    li: a(href='#') Experts


