doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title
        link(rel='stylesheet', type='text/css' href='css/main.css')
        link(rel='shortcut icon', type='image/png', href='img/crocus.png')
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:ital,wght@0,100;0,400;1,200;1,300&family=Vazirmatn:wght@300&display=swap" rel="stylesheet">
    body
    include header.pug 
    
    block content


