.card 
    .card__header 
        .card__picture 
        h3.heading-tertiary
            span Poppy

    .card__main 
        h4.card__heading-sub
        p.card__text

    .card__footer
        p 
            span.card__footer-price
            span.card__footer-text per each
        p 
            span.card__footer-rating 9.5 
            span.card__footer-text
    