header.header
    nav.nav-panel
        ul.nav-panel--left
            li: a.nav-item(href='/overview') Flowers
            li: a.nav-item(href='#') Order
            li: a.nav-item(href='#') Garden
            li: a.nav-item(href='#') Experts

        div.header-img 
            h2 Flowermania
            p We grow beauty

        
        ul.nav-panel--right 
            li: a.nav-item(href='#') Sign In
            li: a.nav-item(href='#') Sign up