<!DOCTYPE html>
html(lang="en")
    head
        meta(charset='UTF-8')
        title Store
        link(rel="stylesheet", href="/css/main.css")

    body
        h1 STORE
        p List of Flowers...
