.main {
    &__container {

        height: 95vh;

        background-image: linear-gradient(to top left, rgba(12, 123, 80, 0.9), rgba(202, 14, 14, 0.9) ) , url('../../img/flower-main.jpg');
        background-size: cover;
        background-position: bottom;
    }
}